{% extends "base.html"%}
{% block content %}
<br><br>
<div class="Center_the_boi Blue_Box2">
    <form action="{% url "AGE" %}" method="GET">
        <label>
            <p class="Fonted">Input your birthyear and a provided year to find out your age in that year</p>
            <p>Birthyear:</p>
            <input type="number" name="birthyear">
            <p>Provided Year:</P>
            <input type="number" name="ageyear">
        </label>
        <br>
        <button>Submit</button>
    </form>
    <br>
    {% if answer is not None%}
    <div class="AnswerDiv">
    <p>Being born in {{birthyear}} your age in {{ageyear}} is:</p>
    <p class="AgeAnswer">{{answer}}</p>
    {% endif %}
    </div>
</div>

{% endblock content %}