{% extends "base2.html"%}
{% block content %}
<br>
<div class="Center_the_boi Codingbat_box">
    <text>Where to?</text>
    <br><br>
    <a href="{% url "FONT" %}"><button class="Button_fancy2">Font Times</button></a>
    <br><br>
    <a href="{% url "TEEN" %}"> <button class="Button_fancy2">No Teen Sum</button></a>
    <br><br>
    <a href="{% url "XYZ" %}"><button class="Button_fancy2">Xyz There</button></a>
    <br><br>
    <a href="{% url "AVERAGE" %}"><button class="Button_fancy2">Centered Average</button></a>
</div>
{% endblock content %}