{% extends "base.html"%}
{% block content %}
<br><br><br>
<div class="Center_the_boi Blue_Box3">
    <form action="{% url "ORDER" %}" method="GET">
        <label>
            <p>Welcome to Good Burger, home of the good burger!</p>
            <input type="number" name="Burger" placeholder="Burger Amount:">
            <input type="number" name="Fries" placeholder="Fries Amount:">
            <input type="number" name="Drink" placeholder="Drink Amount:">
        </label>
        <br>
        <button>Confirm Order</button>
    </form>
    <p>total:</p>
    {% if total is not None%}
    ${{total}}
    {% endif %}
</div>
{% endblock content %}